<div>
  <main id="edit-answer-wrapper">
    <div class="answer-question-form">
      <h1>Editing Answer</h1>
      <p>{{this.model.content}}</p>
      <label for="answer">Edit the answer</label>
      {{textarea id="answer" name="answer" value=content}}
      <button class="btn btn-primary" type="button" {{action "editAnswer" content}}>Edit Answer</button>
    </div>
  </main>
</div>